extends layout

block content
  .content
    .jumbotron
        h1 Log In
        .container
            Please log in
    form(method='post', action='/users/login',enttype='multipart/form-data')
        .form-group
            label Username
            input.form-control(name='username', type='text' , placecholder='Enter Username' )
        .form-group
            label Password
            input.form-control(name='password', type='password' , placecholder='Enter password' )
        input.btn.btn-default( name='submit' , type = 'submit' , value =  'Login' )
